<div class="nav-container">
    <div class="nav-toggle">Menu</div>
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Game</a>
        <a href="{{ url_for('forum') }}">Forum</a>
        <a href="{{ url_for('get_leaderboard', difficulty='easy') }}">Leaderboard</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('profile', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('chat') }}">Chat</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
</div>
<script>
      window.addEventListener('load', function() {
        window.addEventListener('message', function(e) {
          if (e.data === 'auth_complete') {
            window.location.reload();
          }
        });
      });
    </script>
    <script src="https://auth.util.repl.co/script.js"></script>